@(appointments: List[Appointment])

@main("Clinician Appointments") {
    
Upcoming Appointments :

       @for(appointment <- appointments) {
                    <tr>
                        <td>@appointment.id</td>
                        <td>@appointment.patient</td>
                        <td>@appointment.start</td>
                        <td>@appointment.end</td>
                        <td>@appointment.title</td>
                        <td>@appointment.body</td>
                    </tr>
                }
    
}		