@main("Menu") {

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jumbotron.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/colours.css")">

  <!-- Masthead (blueprinty thing)
    ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Welcome to @Messages("application.title")</h1>
          <p class="lead">
            <br />
          </p>
          <p>Here you can see the collated results from the mobile devices and view plots of the results.</p>
        </div><!-- /container -->
      </div>
    </header>

				<div class="row" style="padding-top:20px">
                    <a class="span-one-third bg-color-greenDark"  href="@routes.Application.dashboard()" style="text-decoration:none">
                    	<p></p>
                        <img src="/assets/images/picture.png" class="place-right" style="margin: 10px;float:right;padding:10px;">
                        <h2 class="fg-color-white" style="padding-left:10px">&nbsp;Patients</h2>
                        <p style="margin: 10px;padding-left:10px" class="fg-color-black">Create an appointment</p>
                    	<br/>
                    </a>

                    <a class="span-one-third bg-color-blue"  href="@routes.Application.dashboard()" style="text-decoration:none">
                    	<p></p>
                        <img src="/assets/images/pie.png" class="place-right" style="margin: 10px;float:right;padding:10px;">
                        <h2 class="fg-color-white" style="padding-left:10px">&nbsp;Administrative</h2>
                        <p style="margin: 10px;padding-left:10px" class="fg-color-black">Manage Appointments</p>
                    	<br/>
                    </a>

                    <a class="span-one-third bg-color-yellow"  href="@routes.Application.dashboard()" style="text-decoration:none">
                    	<p></p>
                        <img src="/assets/images/box-remove.png" class="place-right" style="margin: 10px;float:right;padding:10px;">
                        <h2 class="fg-color-white" style="padding-left:10px">&nbsp;Clinician</h2>
                        <p style="margin: 10px;padding-left:10px" class="fg-color-black">Join Session</p>
                    	<br/>
                    </a>
                </div>

<div class="row" style="padding-top:20px">
	<div class="span8 offset4">
		<div class="alert-message block-message info">
    	    <p style="text-align:center"><strong>Tip!</strong> To begin - please select an action from the panels above.</p>
		</div>
	</div>
</div>



}

